@font-face {
  font-family: 'gazzetta-bold';
  src: url("../fonts/gazzetta/gazzetta-bold.woff2") format('woff2'), url("../fonts/gazzetta/gazzetta-bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
